.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mt-80{
    margin-top: 80px;
}
.mt-100{
    margin-top: 100px;
}
table{
    text-align: center;
}
.none{
    background: linear-gradient(-40deg, #fff, #fff 48.5%, #c5c5c5 49.5%, #c5c5c5 50.5%, #fff 51.5%, #fff);
}